@tailwind base;
@tailwind components;
@tailwind utilities;

.heartbeat {
  animation: heartbeat 2.5s ease-in-out infinite both;
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.94);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.sakhi-markdown-message{
  line-height: 1rem;
}

.sakhi-markdown-message ul{
  list-style-type: disc;
  padding-inline-start: 1rem;
}
.sakhi-markdown-message li{
  margin: 0;
}